# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# VSCode
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build folders
dist/
build/
.idea/
