# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
*.sqlite3

# Logs
*.log
*.pot
*.pyc

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
*.egg

# Backup files
*.bak
*.swp
